.info-block {
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid rgba(234, 236, 240, 1);
  padding: 16px 0 16px 37px;
  margin-top: 36px;
  position: relative;
  z-index: 2;
  &__wrapper {
    height: 96px;
    overflow: auto;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
      height: 46px;
    }
  }
}
